.titlebar {
    font-weight: bold;
    color:white;
}
.titlebar:backdrop {
    font-weight: bold;
    color:white;
}
vte-terminal {
    padding: 12px;
}
#indicator-button image {
    -gtk-icon-style: regular;
    -gtk-icon-transform: scale(0.9);
}
.tasklist button {
    margin-left: 8px;
}
.tasklist button image {
    margin-left: 4px;
}
.tasklist button label {
    margin-left: 4px;
}
